{% extends 'base.html' %}
<html>
<head>
    <title>Home Page</title>
</head>
<style>
    .title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .title h1{
        color: white;
        font-size: 70px;
        text-align: center;
    }
</style>
<body>
{% block content %}
<div class="title">
    <h1 style="text-align: center; color: green;">WELCOME TO DK TECHNOLOGIES</h1>
</div>
    <h2 style="color: red;"><hr>About Organisation:<hr></h2>
    <p style="color: black;">
    DK SOFTWARE SOLUTIONS an ISO 9001:2008 Certified Organization,a divsion of DKSOFT  organizations is the one and only place providing in-depth training on all latest Java/J2ee technologies and Java Certifications for the last decade.<br>
        Every blog and forum around the globe will represent DURGA SOFT as pioneer and leader in Java Certification training. When the discussion comes on Java, all the online communities will have only one word DK SOFT<br>
       DK SOFT is founded by IT industry experts and the faculty is expertise in multiple domains.DKSOFT'S management and teaching faculty includes either working IT professionls/expertise in IT industry. All of them are highly experienced in designing/development of software solutions in their respective domains.<br>

      The training at DK SOFT is not just like normal classroom sessions. The training is completely industry oriented and interview oriented.During the initial days of training itself, trainees will get the confidence that they can get through any difficult interview or any tough job. All the concepts will be taught with realtime exam ples and in an easily understandable way.<br>

      Getting job in IT industry after completing course in DK SOFT is not a big deal.Getting selected in a job interview and getting 100 percentage in Java Certification is the daily common news at DK SOFT.<br>

      Among all the trainees in DK SOFT, 30-40% of the trainees are wor king IT professionls in various MNCs. This clearly indicates that the DURGA SOFT's teach ing methodogy is beyond the industry standards.<br>

      DK SOFT is highly successful in providing training to thousands of students and boosting their confidence levels to get placed in MNCs across the globe. Finding a DK SOFT student in every MNC is not at all a surprise.<br>

      DK SOFT curriculum is not based on any book or any training material. It follows the exact curriculum mentioned by SUN Microsystems(ORACLE at present). The courses are designed to keep pace  with the changing needs and times. DURGA SOFT teaches every topic starting from the fundamentals to the  most advanced  levels, with the most experienced trainers and with the most effective training methodologies .
    </p>
     <h2 style="color: red;"><hr>About Founder:<hr></h2>
   <p style="color: black;">Mr Divyanshu Keshari( M.Tech), PostGraduate from Andhra University and then started working as Software Engineer from IBM.<br>

After few years of working found that there is a BIG GAP between what Corporates want and what candidate’s posses.<br>

After seeing this situation, Immediately he quit the Job and conducted a research across institutions, industry and students, for 8 months and realised students are gems, but lack of innovative things they failed, So he started “DK SOFTWARE SOLUTIONS” for very less price in the market and to enhance the quality of people in to Corporate field by giving best knowledge to students via teaching and skill development.<br>

After years of struggle, he was succeeded in that and giving Knowledge as well as innovative thoughts to enter in corporate field for lakhs of students in a span of 8 years and Now his dreams come true that his students enters in to the corners of whole world and became INDIA’S NO #1 in SOFTWARE TRAINING INDUSTRY as DKSOFT.
   </p><br>
{% endblock %}
</body>
</html>